@media screen and (min-width: 768px) {
    .row-border {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      
        gap: 5px;
    }

    .alert-content {
        width: 50%;
        padding: 25px;
    }

    .alert-content h1 {
        font-size: 32px;
    }

    .alert-content p {
        font-size: 18px;
    }

    div.left-box label {
        margin-bottom: 8px;
        margin-left: 0px;
    }

    .border-radio {
        width: 37vw;
    }

    #inome, #isobre {
        width: 37vw;
        margin: 0px;
    }

    #iemail {
        margin: 0px;
    }

    input[type="radio"]:checked + span {
        background: radial-gradient(circle, var(--verde) 50%, #fff 50%);
        border-color: var(--verde);
        padding: 4px;
        
    }

    .radio-group input + span {
        height: 15px;
        width: 15px;
        padding: 4px;
    }

    .left-box {
        display: flex;
        align-content: center;
    }

    h1.radio-title {
        margin-left: 6%;
    }

    .left-media-query {
        display: flex;
        justify-content: left;
        margin-left: 6.3%;
    }

    .left-error {
        margin-right: 60%;
    }

    legend {
        margin-left: 5.3%;
    }
}

@media screen and (min-width: 992px) {
    legend {
        margin-left: 6.7%;
    }

    .alert-content {
        width: 32%;
        padding: 25px;
    }

    .alert-content h1 {
        font-size: 32px;
    }

    .alert-content p {
        font-size: 18px;
    }

    .radio-group input + span {
        height: 15px;
        width: 15px;
        padding: 4px;
    }

    .left-media-query {
        margin-left: 7%;
    }

    .left-error {
        margin-right: 69%;
    }

    h1.radio-title {
        margin-left: 7%;
    }
}