@charset "UTF-8";

@font-face {
    font-family: "italica";
    src: url(fonts/Karla-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: "titulo";
    src: url(fonts/Karla-VariableFont_wght.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body{
    background-color:  #E2F1E7;
}

legend{
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "titulo", Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

section label{
   font-family: "italica", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    min-height: 30px;
    border: 1px solid rgb(100, 99, 99);
    border-radius: 5px;
    margin: 8px 0px;
    width: 350px;
    padding-left: 4px;
}

#alrad1{
    position: absolute;
    right: 67%;
    top: 57.3%;
}

#alrad2{
    position: absolute;
    right: 66%;
    top: 51%;
}

#alcheck{
    position: absolute;
    top: 80%;
    right: 32%;
}

.borda{
    display: flex;
    align-items: center;

    border: 1px solid rgb(100, 99, 99);
    border-radius: 5px;
    margin: 4px 0px;
    padding-left: 3px;
    width: 165px;
    max-height: 30px;
}

.checkbox{
    width: 15px;
    max-height: 20px;
}


