@charset "UTF-8";

@font-face {
    font-family: "italica";
    src: url(fonts/Karla-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family: "titulo";
    src: url(fonts/Karla-VariableFont_wght.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body{
    background-color:  #E2F1E7;
}

p {
    margin-bottom: 10px;
}

legend{
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "titulo", Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: relative;
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

section label{
   font-family: "italica", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    min-height: 30px;
    border: 1px solid rgb(100, 99, 99);
    border-radius: 5px;
    margin: 8px 0px;
    width: 350px;
    padding-left: 4px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.radio-group label {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: -15px 0px;
}

.radio-group input[type="radio"] {
    margin-left: 10px;
}
 
.center-check-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.center-check-box label {
    display: flex;
    align-items: center;
}

.left-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.left-box label {
   
    margin-bottom: 5px;
}


.checkbox{
    width: 15px;
    max-height: 20px;
}

div.msgerro {
    color: rgb(209, 3, 3);
    margin-top: 3px;
}

.hidden {
    display: none;
}



